@model pidevShoppyTounsi.Models.ConfirmPaiment

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

<div>
    <h4>Confirm Paiment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
                 <Label>Confirm your donation ?</Label>
        </dd>
        <dd>
            <a href=@ViewBag.url class="btn btn-success" >Confirm</a>
        </dd>
    </dl>
</div>
<p>
</p>
