
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from d-themes.com/html/riode/account.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Apr 2021 02:40:51 GMT -->
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Shoppy Tounsi</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Riode - Ultimate eCommerce Template">
    <meta name="author" content="D-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/assets/images/logo-icon2.png">
    <link rel="stylesheet" type="text/css" href="~/ClientTemp/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/ClientTemp/vendor/animate/animate.min.css">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="~/ClientTemp/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="~/ClientTemp/vendor/owl-carousel/owl.carousel.min.css">
    <script>
        WebFontConfig = {
            google: { families: ['Poppins:400,500,600,700'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>


    <link rel="stylesheet" type="text/css" href="~/ClientTemp/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/ClientTemp/vendor/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/ClientTemp/css/demo1.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="~/ClientTemp/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="~/ClientTemp/css/style.min.css">
</head>

<body>

    <div class="page-wrapper">
        <header class="header header-border">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">

                        <p class="welcome-msg">Welcome to ShoppyTounsi store </p>
                    </div>
                    <div class="header-right">

                        <!-- End DropDown Menu -->
                        <!-- End DropDown Menu -->
                        <span class="divider"></span>
                        <a href="/Home/Contact" class="contact d-lg-show"><i class="d-icon-map"></i>Contact</a>

                        <a href="../Login/loginRequest">
                            <i class="d-icon-user"></i>&nbsp; Sign in
                        </a>
                        <span class="delimiter">/</span>
                        <a href="../Login/SignUp">  <i class="d-icon-user"></i>&nbsp; Register</a>
                        <!-- End of Login -->
                    </div>
                </div>
            </div>
            <!-- End HeaderTop -->

            <div class="header-middle sticky-header fix-top sticky-content">
                <div class="container">
                    <div class="header-left">
                        <a href="#" class="mobile-menu-toggle">
                            <i class="d-icon-bars2"></i>
                        </a>
                        <a href="demo1.html" class="logo">
                            <img src="~/assets/images/logo-icon2.png" alt="logo" width="80" height="70" />
                        </a>
                        <!-- End Logo -->

                        <div class="header-search hs-simple">
                            <form action="#" class="input-wrapper">
                                <input type="text" class="form-control" name="search" autocomplete="off"
                                       placeholder="Search..." required />
                                <button class="btn btn-search" type="submit">
                                    <i class="d-icon-search"></i>
                                </button>
                            </form>
                        </div>
                        <!-- End Header Search -->
                    </div>
                    <div class="header-right">
                        <a href="tel:#" class="icon-box icon-box-side">
                            <div class="icon-box-icon mr-0 mr-lg-2">
                                <i class="d-icon-phone"></i>
                            </div>
                            <div class="icon-box-content d-lg-show">
                                <h4 class="icon-box-title">Call Us Now:</h4>
                                <p>(+216) 54269833</p>
                            </div>
                        </a>
                        <span class="divider"></span>
                        <a href="wishlist.html" class="wishlist">
                            <i class="d-icon-heart"></i>
                        </a>
                        <span class="divider"></span>

                    </div>
                </div>
            </div>

            <div class="header-bottom d-lg-show">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu">
                                <li>
                                    <a href="/Home">Home</a>
                                </li>
                                <li>
                                    <a href="/Home/Products">Products</a>

                                </li>
                                <li>
                                    <a href="/Shelf/ListShelfs">Visit Our Store</a>
                                </li>



                                <li>
                                    <a href="/Home/About">About Us</a>

                                </li>
                                <li>
                                    <a href="/Home/Contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-right">
                        <a href="#"><i class="d-icon-card"></i>Special Offers</a>
                        <a href="https://d-themes.com/buynow/riodehtml" target="_blank" class="ml-6">Promotions</a>
                    </div>
                </div>
            </div>

        </header>
        <!-- End Header -->





        <div>

            @RenderBody()


        </div>


        <footer class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="row align-items-center">

                        <div class="col-lg-9">
                            <div class="widget widget-newsletter form-wrapper form-wrapper-inline">
                                <div class="newsletter-info mx-auto mr-lg-2 ml-lg-4">
                                    <h4 class="widget-title">Subscribe to our Store</h4>
                                    <p>Get all the latest information, Sales and Offers.</p>
                                </div>
                                <form action="../Login/SignUp" class="input-wrapper input-wrapper-inline">

                                    <button class="btn btn-primary btn-rounded btn-md ml-2" onclick="location.href='../Login/SignUp">
                                        subscribe<i class="d-icon-arrow-right"></i>
                                    </button>
                                </form>
                            </div>
                            <!-- End Newsletter -->
                        </div>
                    </div>
                </div>
                <!-- End FooterTop -->
                <div class="footer-middle">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="widget widget-info">
                                <h4 class="widget-title">Contact Info</h4>
                                <ul class="widget-body">
                                    <li>
                                        <label>Phone:</label>
                                        <a href="tel:#">+21654269833</a>
                                    </li>
                                    <li>
                                        <label>Email:</label>
                                        <a href="mailto:mail@riode.com">Shoppytounsi@gmail.com</a>
                                    </li>
                                    <li>
                                        <label>Address:</label>
                                        <a href="#">123 Street Name, City, Tunisia</a>
                                    </li>
                                    <li>
                                        <label>WORKING DAYS / HOURS:</label>
                                    </li>
                                    <li>
                                        <a href="#">Mon - Sun / 9:00 AM - 8:00 PM</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget ml-lg-4">
                                <h4 class="widget-title">My Account</h4>
                                <ul class="widget-body">
                                    <li>
                                        <a href="/About">About Us</a>
                                    </li>
                                    <li>
                                        <a href="../Login/LoginRequest">SignIn </a>
                                    </li>

                                </ul>
                            </div>
                            <!-- End Widget -->
                        </div>


                    </div>
                </div>
                <!-- End FooterMiddle -->
                <div class="footer-bottom">
                    <div class="footer-left">

                    </div>
                    <div class="footer-center">
                        <p class="copyright">ShoppyTounsi &copy; 2021. All Rights Reserved</p>
                    </div>
                    <div class="footer-right">
                        <div class="social-links">
                            <a href="#" class="social-link social-facebook fab fa-facebook-f"></a>
                            <a href="#" class="social-link social-twitter fab fa-twitter"></a>
                            <a href="#" class="social-link social-linkedin fab fa-linkedin-in"></a>
                        </div>
                    </div>
                </div>
                <!-- End FooterBottom -->
            </div>
        </footer>

        <!-- End Main -->
        <!-- End Footer -->
    </div>
    <!-- Sticky Footer -->
    <!-- End MobileMenu -->
    <!-- Plugins JS File -->
    <script src="~/ClientTemp/vendor/jquery/jquery.min.js"></script>
    <script src="~/ClientTemp/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
    <script src="~/ClientTemp/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/ClientTemp/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/ClientTemp/vendor/jquery.count-to/jquery.count-to.min.js"></script>
    <script src="~/ClientTemp/vendor/owl-carousel/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="~/ClientTemp/js/main.min.js"></script>
</body>


<!-- Mirrored from d-themes.com/html/riode/account.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Apr 2021 02:40:52 GMT -->
</html>
